<header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="{{ site.baseurl }}/">
                <span class="catalog-logo mdc-toolbar__menu-icon">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                </span>
            </a>
            <span class="mdc-toolbar__title catalog-title wf-sawarabigothic">{{ site.title }}</span>
        </section>
    </div>
</header>
