<header class="mdc-toolbar mdc-toolbar--fixed {% if page.image%} mdc-toolbar--waterfall mdc-toolbar--flexible mdc-toolbar--flexible-default-behavior{% endif %}">
    <div class="mdc-toolbar__row mdc-toolbar--with_image">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <span>
                <a href="{{ site.baseurl }}/" class="mdc-toolbar__menu-icon">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                </a>
            </span>
            <span class="mdc-toolbar__title catalog-title wf-kokoro">{{ site.title }}</span>
        </section>
    </div>
</header>
