<header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <span>
                <a href="{{ site.baseurl }}/" class="mdc-toolbar__menu-icon">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                </a>
            </span>
            <span class="mdc-toolbar__title catalog-title wf-sawarabigothic">{{ site.title }}</span>
        </section>
    </div>
</header>
