<!DOCTYPE html>
<html lang="ja">
{% include head.html %}
<body class="wf-sawarabimincho mdc-typography">
{% include header.html %}
<main class="mdc-toolbar-fixed-adjust">
{{ content }}
</main>
<script src="https://unpkg.com/material-components-web@0.27.0/dist/material-components-web.min.js"></script>
<script>mdc.autoInit()</script>

{% if page.image%}
<script type="text/javascript">
    (function() {
        var pollId = 0;
        pollId = setInterval(function() {
            var pos = getComputedStyle(document.querySelector('.mdc-toolbar')).position;
            if (pos === 'fixed' || pos === 'relative') {
                init();
                clearInterval(pollId);
            }
        }, 250);
        function init() {
            var toolbar = mdc.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
            toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');
        }
    })();
</script>
{% endif %}

</body>
</html>
