---
layout: default
---
<div id="home">
    <section>
        {{ content }}
    </section>

    <!-- This loops through the paginated posts -->
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">

            {% for post in paginator.posts %}
            <div class="mdc-layout-grid__cell--span-4">
                <article class="mdc-card">
                    <a href="{{ post.url }}" class="">
                        {% if post.image %}
                        <section class="mdc-card__media">
                            <img class="card-posts__item" src="{{ site.baseurl }}{{ post.image }}"/>
                        </section>
                        {% endif %}

                        <section class="mdc-card__supporting-text">
                            <h1 class="mdc-card__title mdc-card__title--large wf-sawarabimincho">{{ post.title }}</h1>
                            <h2 class="mdc-card__subtitle wf-sawarabimincho"> {{ post.date }} </h2>
                        </section>
                    </a>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Pagination links -->
    <section class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="mdc-button mdc-button--raised previous">Back</a>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="mdc-button mdc-button--raised next">Next</a>
        {% else %}
        <span class="next ">Next</span>
        {% endif %}
    </section>
</div>
