---
layout: default
---
<section>
    {{ content }}
</section>

<!-- This loops through the paginated posts -->
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">

        {% for post in paginator.posts %}
        <article class="mdc-card mdc-layout-grid__cell--span-4">
            <a href="{{ post.url }}" class="">
                {% if post.image %}
                <section class="mdc-card__media">
                    <img class="card-posts__item" src="{{ site.baseurl }}{{ post.image }}"/>
                </section>
                {% endif %}

                <section class="mdc-card__supporting-text wf-sawarabigothic">
                    <h1 class="mdc-card__title mdc-card__title--large">{{ post.title }}</h1>
                    <h2 class="mdc-card__subtitle"> {{ post.date }} </h2>
                </section>
            </a>
        </article>
        {% endfor %}
    </div>
</div>

<!-- Pagination links -->
<section class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</section>
